
mat-form-field {
  display: block;
  margin-bottom: 10px;
}

mat-card {
  padding: 5%;
  margin: 1%;
}

/* To display a border for the input */
input {
  border: 3px solid black;
  border-radius: 10px;
  background: transparent;
  background-color: transparent;
  padding: 1%;

}

table {
  width: 100%;
}
