
mat-form-field {
  display: block;
  margin-bottom: 10px;
}

mat-card {
  padding: 3%;
  margin: 1%;
}

/* To display a border for the input */
input {

  border-radius: 10px;
  background: transparent;
  background-color: transparent;
  padding: 0%;
  margin-left: 2%;

}

table {
  width: 100%;
}

th {
  padding: 20%;
}

td, tr{
  padding: 20%;
  margin: 10%;
}

ng-container{
  padding: 20%;
}

.auths{
  background: black;
  border-radius: 15px;
  color: white;
  margin-left: 3%;
}

.codeBook{
  padding-left: 5%;
  padding-right: 5%;
  background: green;
  border-radius: 10px;
}
