<mat-card>
  <h3>some of the books available..</h3>

  <app-book imagePath="assets/image/the_beach_alex_garland.jpeg"
   titleBook="The beach"></app-book>

  <app-book imagePath="assets/image/the_lord_of_the_rings_tolkien.jpg"
   titleBook="The lord of the rings"></app-book>

   <app-book imagePath="assets/image/into_the_wild.jpeg"
   titleBook="Into the wild"></app-book>

   <app-book imagePath="assets/image/nausicaa.jpg"
   titleBook="nausicaa of the valley of the wind"></app-book>

   <app-book imagePath="assets/image/shining.jpg"
   titleBook="The shining"></app-book>
</mat-card>
