<mat-card>
  <h3>some of the books available..</h3>

  <app-book imagePath="assets/image/la_fia.jpg"
   titleBook="La Fiammetta"></app-book>

  <app-book imagePath="assets/image/moon.jpg"
   titleBook="A voyage to the moon"></app-book>

   <app-book imagePath="assets/image/Apocolocyntosis.jpg"
   titleBook="Apocolocyntosis"></app-book>

   <app-book imagePath="assets/image/my-first-years-as-a-frenchwoman.jpg"
   titleBook="My first years as a frenchwoman"></app-book>

   <app-book imagePath="assets/image/california.jpg"
   titleBook="The Mountains of California"></app-book>
</mat-card>
